// FONT
$main-font: 'Roboto', sans-serif;

// COLOR
$main-color: #ffffff;
$secondary-color: #000000;
$active-color: #ff6b01;
$footer-color: #545454;
$modal-primary-text: #8c8c8c;

// BACKGROUND-COLOR
$main-bg-color: #e5e5e5;
$bg-footer-color: #f7f7f7;
$red-line-color: #ff001b;
