@import "~node_modules/modern-normalize/modern-normalize.css";
html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #ffffff;
}

button {
  font-size: 12px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 32px;
  }
}

.header {
  min-height: 230px;
  padding: 40px 0 0 0;
  background-image: url("../images/home/bg-image-mob.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url("../images/home/bg-image-tablet.png");
  }
}
@media screen and (min-width: 1280px) {
  .header {
    background-image: url("../images/home/bg-image-desctop.png");
  }
}

.header__wrapp {
  display: flex;
  height: 35px;
  margin: 0 0 40px;
  justify-content: space-between;
}

.header__link {
  display: flex;
  gap: 8px;
  align-items: center;
  text-decoration: none;
}

.header__logo-text {
  display: none;
  vertical-align: text-top;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.1666666667;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .header__logo-text {
    display: inline;
  }
}

.nav {
  padding: 4px 0 0 0;
}

.nav__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  transition: color 250ms linear;
}

.nav__link:hover,
.nav__link:focus {
  color: #ff001b;
}

.nav__link--active {
  border-bottom: 3px solid #ff001b;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.search-form {
  margin: 0 auto;
}

.search-form {
  position: relative;
  margin: 0 auto 16px;
  max-width: 336px;
}
@media screen and (min-width: 768px) {
  .search-form {
    max-width: 394px;
    margin: 0 auto 20px;
  }
}
@media screen and (min-width: 1280px) {
  .search-form {
    max-width: 394px;
  }
}

.search-form__input {
  width: 100%;
  padding: 0 40px 4px 0;
  font-size: 14px;
  line-height: 1.1428571429;
  color: #ffffff;
  border: none;
  outline: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
}

.search-form__input::-moz-placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  color: #ffffff;
}

.search-form__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  color: #ffffff;
}

.search-form__input::placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  color: #ffffff;
}

.search-form__button {
  position: absolute;
  right: -14px;
  bottom: -10px;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-form__icon {
  display: block;
  margin: 0 auto;
}

.message {
  display: block;
  max-width: 336px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.1428571429;
  color: #ff001b;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .message {
    max-width: none;
    text-align: center;
  }
}

.loader-container {
  transform: translateY(-58px);
  max-width: 336px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .loader-container {
    transform: translateY(-47px);
    max-width: 394px;
  }
}

.loader {
  width: 0;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: #ff8000;
  box-shadow: 0 0 10px rgba(255, 196, 0, 0.9);
  box-sizing: border-box;
  -webkit-animation: animFw 4s linear infinite;
          animation: animFw 4s linear infinite;
}
@media screen and (min-width: 1280px) {
  .loader {
    -webkit-animation: animFw 4s linear infinite;
            animation: animFw 4s linear infinite;
  }
}

.loader::after,
.loader::before {
  content: "";
  width: 10px;
  height: 1px;
  background: #ff8000;
  position: absolute;
  top: 9px;
  right: -2px;
  opacity: 0;
  transform: rotate(-45deg) translateX(0px);
  box-sizing: border-box;
  -webkit-animation: coli1 0.3s linear infinite;
          animation: coli1 0.3s linear infinite;
}

.loader::before {
  top: -4px;
  transform: rotate(45deg);
  -webkit-animation: coli2 0.3s linear infinite;
          animation: coli2 0.3s linear infinite;
}

@-webkit-keyframes animFw {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes animFw {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes coli1 {
  0% {
    transform: rotate(-45deg) translateX(0px);
    opacity: 0.7;
  }
  100% {
    transform: rotate(-45deg) translateX(-45px);
    opacity: 0;
  }
}
@keyframes coli1 {
  0% {
    transform: rotate(-45deg) translateX(0px);
    opacity: 0.7;
  }
  100% {
    transform: rotate(-45deg) translateX(-45px);
    opacity: 0;
  }
}
@-webkit-keyframes coli2 {
  0% {
    transform: rotate(45deg) translateX(0px);
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translateX(-45px);
    opacity: 0.7;
  }
}
@keyframes coli2 {
  0% {
    transform: rotate(45deg) translateX(0px);
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translateX(-45px);
    opacity: 0.7;
  }
}
.main {
  flex: 1 1 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .main {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.movie-markup {
  display: flex;
  row-gap: 20px;
  justify-content: center;
  flex-flow: wrap;
}
@media screen and (min-width: 768px) {
  .movie-markup {
    justify-content: flex-start;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-markup {
    gap: 32px 15px;
  }
}

.card__img {
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #444;
  width: 280px;
  height: 398px;
}
@media screen and (min-width: 768px) {
  .card__img {
    width: 336px;
    height: 455px;
  }
}
@media screen and (min-width: 1280px) {
  .card__img {
    width: 394px;
    height: 574px;
  }
}

.card__title {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  max-width: 300px;
  margin-bottom: 3px;
  text-transform: uppercase;
  color: #000000;
}
@media screen and (min-width: 1280px) {
  .card__title {
    max-width: 394px;
    font-size: 20px;
    line-height: 24px;
  }
}

.card__container {
  display: flex;
  align-items: center;
}

.card__genres {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #ff6b01;
  max-width: 280px;
}
@media screen and (min-width: 1280px) {
  .card__genres {
    font-size: 20px;
    line-height: 24px;
  }
}
.card__genres::after {
  content: "";
  position: absolute;
  top: 1px;
  right: -6px;
  width: 2px;
  height: 90%;
  background-color: #ff6b01;
}
@media screen and (min-width: 1280px) {
  .card__genres::after {
    right: -8px;
  }
}

.card__year {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ff6b01;
  padding-left: 10px;
}
@media screen and (min-width: 1280px) {
  .card__year {
    font-size: 20px;
    line-height: 24px;
    padding-left: 14px;
  }
}

.footer {
  height: 100px;
  background-color: #f7f7f7;
  color: #545454;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 79px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    height: 77px;
  }
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  width: 242px;
}
@media screen and (min-width: 768px) {
  .footer__content {
    font-size: 16px;
    line-height: 1, 18;
    flex-direction: row;
    width: 485px;
  }
}

.footer__text {
  display: flex;
  justify-content: space-between;
}

.footer__img {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.footer__link {
  color: #545454;
  display: inline-block;
}

.header--library {
  min-height: 230px;
  padding: 40px 0 0 0;
  background-image: url("../images/home/bg-image-mob.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .header--library {
    background-image: url("../images/home/bg-image-tablet.png");
  }
}
@media screen and (min-width: 1280px) {
  .header--library {
    background-image: url("../images/home/bg-image-desctop.png");
  }
}

.filter {
  display: flex;
  justify-content: center;
}
.filter__item {
  width: 129.53px;
  height: 44px;
}
@media screen and (min-width: 768px) {
  .filter__item {
    width: 136px;
  }
}
.filter__list {
  display: flex;
}
.filter__item {
  display: block;
}
.filter__item:not(:last-child) {
  margin-right: 19.94px;
}
@media screen and (min-width: 768px) {
  .filter__item:not(:last-child) {
    margin-right: 15px;
  }
}

.button,
.button-lib {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 36.19px;
  padding-right: 36.19px;
  min-width: 129.53px;
  font-weight: 500;
  line-height: 1.3333333333;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .button,
.button-lib {
    padding-left: 38px;
    padding-right: 38px;
    min-width: 136px;
  }
}
.button:hover,
.button :focus,
.button :active,
.button-lib:hover,
.button-lib :focus,
.button-lib :active {
  border: 1px solid #ff6b01;
  background: #ff6b01;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.button__active,
.button-lib__active {
  border: 1px solid #ff6b01;
  background: #ff6b01;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

.button-lib {
  border: 1px solid black;
  color: black;
  background-color: #ffffff;
}
.button-lib:hover,
.button-lib :focus,
.button-lib :active {
  color: #ffffff;
  border: 1px solid #ff6b01;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  scale: 1.1;
  opacity: 0;
  pointer-events: none;
}

.modal-film {
  overflow: scroll;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 290px;
  max-height: 940px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .modal-film {
    max-width: 704px;
    max-height: 552px;
  }
}

.modal-film__poster {
  border-radius: 5px;
  margin-bottom: 20px;
}

.modal-film__item {
  display: flex;
}

.item__label {
  width: 110px;
  margin-right: 20px;
}

.title-film {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;
}

.item__label {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
}
.item__label:not(:last-child) {
  margin-bottom: 8px;
}

.item__content {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.item__content--rating {
  display: inline-block;
  text-align: center;
  width: 36px;
  color: #ffffff;
  background-color: #ff6b01;
  border-radius: 5px;
}

.item__content--votes {
  display: inline-block;
  text-align: center;
  width: 36px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.modal-film__list {
  margin-bottom: 20px;
}

.modal-film__about {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .modal-film__about {
    max-width: 240px;
    max-height: 260px;
  }
}

.about__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 8px;
}

.about__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
}

.modal-film__buttons {
  margin-bottom: 20px;
  display: flex;
}

.modal_film__btn {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  width: 110px;
  height: 44px;
  border: 1px solid #000000;
  background-color: #ffffff;
  border-radius: 5px;
}
.modal_film__btn:not(:last-child) {
  margin-right: 20px;
}

.close-modal {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
}

.overflow {
  overflow: hidden;
}/*# sourceMappingURL=index.css.map */