  $mobile: 320px;
  $tablet: 768px;
  $desktop: 1024px;
  //
  $line-height: calc(16 / 12);
  $font-weight: 500;
  $white-text-color: #ffffff;
  $hover-rating-color: #ff6b01;
  $button-header-library: rgba(255, 107, 1, 0.6);