  .header-lib{
    background-image: url('../images/home/lib-bg-image-mob.png');
      @media screen and(min-width:768px) {
          background-image: url('../images/home/lib-bg-image-tablet.png');
        }
      
        @media screen and(min-width:1280px) {
          background-image: url('../images/home/lib-bg-image-desktop.png');
        }
  }
  .filter {
    display: flex;
    justify-content: center;
  
    &__item {
      width: 129.53px;
      height: 44px;
  
      @media screen and (min-width: $tablet) {
        width: 136px;
      }
    }
  
    &__list {
      display: flex;
    }
  
    &__item {
      display: block;
    }
  
    &__item:not(:last-child) {
      margin-right: 19.94px;
  
      @media screen and (min-width: $tablet) {
        margin-right: 15px;
      }
    }
  }
  
  .button {
    display: inline-block;
    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 36.19px;
    padding-right: 36.19px;
    min-width: 129.53px;
  
    @media screen and (min-width: $tablet) {
      padding-left: 38px;
      padding-right: 38px;
      min-width: 136px;
    }
  
    font-weight: $font-weight;
    line-height: $line-height;
  
    text-align: center;
    text-transform: uppercase;
  
    color: $main-color;
    background: transparent;
    border: 1px solid $main-color;
    border-radius: 5px;
  
    &:hover,
    :focus,
    :active {
      border: 1px solid $active-color;
      background: $active-color;
      box-shadow: (0px 8px 43px $button-header-library);
  
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
      cursor: pointer;
    }
  
    &__active {
      border: 1px solid $active-color;
      background: $active-color;
      box-shadow: (0px 8px 43px $button-header-library);
    }
  }
