.msg-container {
  text-align: center;
}

.msg-container__message {
  display: inline-block;
  margin: 50px auto;
  text-align: center;
  color: rgb(206, 105, 105);
  font-size: 40;
  font-weight: 900;
}
