.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  scale: 1.1;
  opacity: 0;
  pointer-events: none;
}

.modal-film {
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 48px;
  padding-bottom: 40px;
  position: absolute;
  top: 100px;
  //   top: 50%;
  left: 50%;
  //   transform: translate(-50%, -50%);
  transform: translateX(-50%);
  border-radius: 3px;
  background-color: $main-color;
  @media screen and(max-width:768px) {
    max-width: 280px;
    max-height: 100%;
  }
  @media screen and(min-width:767px) {
    width: 704px;
    top: 60px;
  }
  @media screen and(min-width:1024px) {
    width: 806px;
  }
}
.modal-film__content {
  flex-direction: column;
  display: flex;
  align-items: center;
  @media screen and(min-width:767px) {
    flex-direction: row;
    align-items: flex-start;
  }
}
.close-modal {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: $main-color;
  width: 30px;
  height: 30px;
}

.close-icon {
  background-color: transparent;
}
// .close__icon:hover,
// .close__icon:focus {
//     fill: $active-color;
// }
.modal-film__poster {
  border-radius: 5px;
  margin-bottom: 20px;
  width: 242px;
  @media screen and(min-width: 767px) {
    width: 264px;
    margin-right: 68px;
  }
  @media screen and(min-width:1024px) {
    width: 375px;
    height: 520px;
    margin-right: 16px;
  }
}

.title-film {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;
}
.modal-film__list {
  margin-bottom: 20px;
}
.modal-film__item {
  display: flex;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
.item__label {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  width: 110px;
  margin-right: 20px;

  color: $modal-primary-text;
}
.item__content {
  max-width: 110px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}
.item__content-title {
  max-width: 110px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.33;
}
.item__content-genres {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.item__content--rating {
  display: inline-block;
  text-align: center;
  padding-top: 2px;
  width: 36px;
  color: $main-color;
  background-color: $active-color;
  border-radius: 5px;
}
.item__content--votes {
  display: inline-block;
  text-align: center;
  width: 36px;

  background-color: $bg-footer-color;
  border-radius: 5px;
}

.modal-film__about {
  overflow: auto;
  max-height: 260px;
  @media screen and(max-width:767px) {
    max-width: 240px;
  }
  @media screen and(min-width:768px) {
    max-width: 264px;
  }
  @media screen and(min-width:1024px) {
    max-width: 391px;
    max-height: 184px;
  }
  margin-bottom: 20px;
}
.about__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 8px;
}
.about__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
}

.modal-film__buttons {
  margin-bottom: 20px;
  display: flex;
  @media screen and(min-width:1024px) {
    margin-left: 7px;
  }
}
.modal_film__btn {
  // display: flex;
  // align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  width: 110px;
  height: 44px;
  border: 1px solid $secondary-color;
  background-color: $main-color;
  border-radius: 5px;
  transition: color 0.25s linear, background-color 0.25s linear,
    border 0.25s linear;

  &:not(:last-child) {
    margin-right: 20px;
  }
  &:hover,
  &:focus {
    border: none;
    color: $main-color;
    background-color: $active-color;
  }

  &:disabled {
    border: 1px solid #949393;
    // background-color: transparent;
    transition: color 0.25s linear, background-color 0.25s linear,
      border 0.25s linear;

    &:hover,
    &:focus {
      border: 1px solid #949393;
      color: #cccaca;
      background-color: $main-color;
    }
  }
}

.overflow {
  overflow: hidden;
}

// youtube video

.modal_youtube_video_container {
  display: flex;

  width: 100%;
  height: auto;
  margin: 20px auto 0 auto;
}

.modal_youtube_video {
  margin: 0px;
  border-radius: 10px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin: 0;
  }
  @media screen and (max-width: 767.5px) {
    margin: 0 auto;
  }
  @media screen and (min-width: 1280px) {
    width: 280px;
    height: 210px;
  }
}
