<div class="backdrop-footer is-hidden-footer" data-modal-footer>
  <div class="modal-box">
    <button type="button" class="modal-box__btn" data-modal-close>
      <svg class="modal-box__btn--close" width="25" height="25">
        <use href="./images/home/sprite.svg#icon-cross2"></use>
      </svg>
    </button>
    <h2 class="modal-title">Team - 09 Blackout Killer's</h2>
    <ul class="grid">
      <li class="grid-img">
        <a href="https://github.com/Kostya-Romanovskyi" target="_blank">
          <img
            class="footer-modal-img"
            alt="Kostya Romanovskyi"
            src="./images/team/KostyaRomanovskyi.jpg"
          />
          <div class="grid-box">
            <p class="grid-text">
              Kostya Romanovskyi <br />
              Team lead
            </p>
          </div>
        </a>
      </li>

      <li class="grid-img">
        <a href="https://github.com/AntohaDidenko" target="_blank"
          ><img
            class="footer-modal-img"
            alt="Anton Didenko"
            src="./images/team/AntonDidenko.jpg"
          />
          <div class="grid-box">
            <p class="grid-text">
              Anton Didenko <br />
              Scrum master
            </p>
          </div></a
        >
      </li>

      <li class="grid-img">
        <a href="https://github.com/Andrew-Samoilov" target="_blank">
          <img
            class="footer-modal-img"
            alt="Andrew Samoilov"
            src="./images/team/AndrewSamoilov.jpg"
          />
          <div class="grid-box">
            <p class="grid-text">
              Andrew Samoilov <br />
              Developer
            </p>
          </div></a
        >
      </li>

      <li class="grid-img">
        <a href="https://github.com/SligVader" target="_blank">
          <img
            class="footer-modal-img"
            alt="Volodymyr Titarenko"
            src="./images/team/VolodymyrTitarenko.jpg"
          />
          <div class="grid-box">
            <p class="grid-text">
              Volodymyr Titarenko <br />
              Developer
            </p>
          </div>
        </a>
      </li>

      <li class="grid-img">
        <a href="https://github.com/KarpovRuslan" target="_blank">
          <img
            class="footer-modal-img"
            alt="Ruslan Karpov"
            src="./images/team/RuslanKarpov.jpg"
          />
          <div class="grid-box">
            <p class="grid-text">
              Ruslan Karpov <br />
              Developer
            </p>
          </div>
        </a>
      </li>

      <li class="grid-img">
        <a href="https://github.com/YevgenBoiko" target="_blank">
          <img
            class="footer-modal-img"
            alt="Yevgenii Boiko"
            src="./images/team/YevgenBoiko.jpg"
          />
          <div class="grid-box">
            <p class="grid-text">
              Yevgenii Boiko <br />
              Developer
            </p>
          </div>
        </a>
      </li>

      <li class="grid-img">
        <a href="https://github.com/SergiiKarashchuk" target="_blank">
          <img
            class="footer-modal-img"
            alt="Sergii Karashchuk"
            src="./images/team/SergiiKarashchuk.jpg"
          />
          <div class="grid-box">
            <p class="grid-text">
              Sergii Karashchuk <br />
              Developer
            </p>
          </div>
        </a>
      </li>

      <li class="grid-img">
        <a href="https://github.com/iragerj" target="_blank">
          <img
            class="footer-modal-img"
            alt="Iryna Herzhova"
            src="./images/team/IrynaHerzhova.jpg"
          />
          <div class="grid-box">
            <p class="grid-text">
              Iryna Herzhova <br />
              Developer
            </p>
          </div>
        </a>
      </li>

      <li class="grid-img">
        <a href="https://github.com/Eugene8615" target="_blank">
          <img
            class="footer-modal-img"
            alt="Yevgenii Reznichenko"
            src="./images/team/pht.jpg"
          />
          <div class="grid-box">
            <p class="grid-text">
              Yevgenii Reznichenko <br />
              Developer
            </p>
          </div>
        </a>
      </li>

      <li class="grid-img">
        <a href="https://github.com/egorkoschey" target="_blank">
          <img
            class="footer-modal-img"
            alt="Egor Koschey"
            src="./images/team/EgorKoschey.jpg"
          />
          <div class="grid-box">
            <p class="grid-text">
              Egor Koschey <br />
              Developer
            </p>
          </div>
        </a>
      </li>

      <li class="grid-img">
        <a href="https://github.com/tooreagen" target="_blank">
          <img
            class="footer-modal-img"
            alt="Sergii Ischenko"
            src="./images/team/SergiiIschenko.jpg"
          />
          <div class="grid-box">
            <p class="grid-text">
              Sergii Ischenko <br />
              Developer
            </p>
          </div>
        </a>
      </li>

      <li class="grid-img">
        <a href="https://github.com/norf-90" target="_blank">
          <img
            class="footer-modal-img"
            alt="Oleksandr Shmatko"
            src="./images/team/OleksandrShmatko.jpg"
          />
          <div class="grid-box">
            <p class="grid-text">
              Oleksandr Shmatko <br />
              Developer
            </p>
          </div>
        </a>
      </li>

      <li class="grid-img">
        <a href="https://github.com/lilflex" target="_blank">
          <img
            class="footer-modal-img"
            alt="Oleksiy Kralin"
            src="./images/team/OleksiyKralin.jpg"
          />
          <div class="grid-box">
            <p class="grid-text">
              Oleksiy Kralin <br />
              Developer
            </p>
          </div>
        </a>
      </li>

      <li class="grid-img">
        <a href="https://github.com/Rasiuk" target="_blank">
          <img
            class="footer-modal-img"
            alt="Yevgenii Rasiuk"
            src="./images/team/YevgeniiRasiuk.jpg"
          />
          <div class="grid-box">
            <p class="grid-text">
              Yevgenii Rasiuk <br />
              Developer
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
