<!-- <div class="backdrop">
  <div class="modal-film">
    <div class="modal-film__content">
      <button class="close-modal" type="button">
        <svg class="close__icon" width="14" height="14">
          <use href="./images/home/close.svg#close-icon"></use>
        </svg>
      </button>
      <img
        class="modal-film__poster"
        src="https://image.tmdb.org/t/p/w500/sv1xJUazXeYqALzczSZ3O6nkH75.jpg"
        alt="Movie-poster"
      />
      <div class="modal-film-information">
        <h2 class="title-film">A FISTFUL OF LEAD sd ddsff sdvvdsv sdvddsvs</h2>
        <ul class="modal-film__list">
          <li class="modal-film__item">
            <span class="item__label">Vote / Votes</span>
            <span class="item__content"
              ><span class="item__content--rating">7.3</span> /<span
                class="item__content--votes"
                >1260</span
              >
            </span>
          </li>
          <li class="modal-film__item">
            <span class="item__label">Popularity</span>
            <span class="item__content">100.2</span>
          </li>
          <li class="modal-film__item">
            <span class="item__label">Original Title</span>
            <span class="item__content"
              >A FISTFUL OF LEAD zxck sdnvdjsv sdjvnjndsjv sdjvnsdjv</span
            >
          </li>
          <li class="modal-film__item">
            <span class="item__label">Genre</span>
            <span class="item__content"
              >Western Western Western Western Western Western Western
            </span>
          </li>
        </ul>
        <div class="modal-film__about">
          <h3 class="about__title">ABOUT</h3>
          <p class="about__text">
            Four of the West’s most infamous outlaws assemble to steal a huge
            stash of gold from the most corrupt settlement of the gold rush
            towns. But not all goes to plan one is killed and the other three
            escapes with bags of gold hide out in the abandoned gold mine where
            they happen across another gang of three – who themselves were
            planning to hit the very same baross another gang of three – who
            themselves were planning to hit the very same baross another gang of
            three – who themselves were planning to hit the very same baross
            another gang of three – who themselves were planning to hit the very
            same baross another gang of three – who themselves were planning to
            hit the very same baross another gang of three – who themselves were
            planning to hit the very same baross another gang of three – who
            themselves were planning to hit the very same baross another gang of
            three – who themselves were planning to hit the very same baross
            another gang of three – who themselves were planning to hit the very
            same baross another gang of three – who themselves were planning to
            hit the very same baross another gang of three – who themselves were
            planning to hit the very same baross another gang of three – who
            themselves were planning to hit the very same baross another gang of
            three – who themselves were planning to hit the very same baross
            another gang of three – who themselves were planning to hit the very
            same baross another gang of three – who themselves were planning to
            hit the very same baross another gang of three – who themselves were
            planning to hit the very same bank! As tensions rise, things go from
            bad to worse as they realise the bags of gold are filled with
            lead... they’ve been double crossed – but by who and how?
          </p>
        </div>
        <div class="modal-film__buttons">
          <button class="modal_film__btn" type="button">add to Watched</button>
          <button class="modal_film__btn" type="button">add to queue</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
