.header {
  min-height: 230px;
  padding: 40px 0 0 0;
  background-image: url('../images/home/bg-image-mob.png');
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and(min-width:768px) {
    background-image: url('../images/home/bg-image-tablet.png');
  }
  @media screen and(min-width:1280px) {
    background-image: url('../images/home/bg-image-desctop.png');
  }
}
.header__wrapp {
  display: flex;
  height: 35px;
  margin: 0 0 40px;
  justify-content: space-between;
}

.header__link {
  display: flex;
  gap: 8px;
  align-items: center;
  text-decoration: none;

  @-webkit-keyframes swing {
    15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
    }

    30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }

    50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
    }

    65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
    }

    80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
    }

    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @keyframes swing {
    15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
    }

    30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }

    50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
    }

    65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
    }

    80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
    }

    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  &:hover,
  &:focus {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    text-shadow: 0 0 10px #fff, 0 0 20px rgb(0, 0, 0), 0 0 40px #fff;
  }
}
.header__logo-text {
  display: none;
  vertical-align: text-top;

  font-weight: 500;
  font-size: 30px;
  line-height: calc(35 / 30);
  color: $main-color;

  @media screen and(min-width:768px) {
    display: inline;
  }
}

.nav {
  padding: 4px 0 0 0;
}

.nav__link {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);

  text-decoration: none;
  text-transform: uppercase;
  color: $main-color;
  transition: color 250ms linear;
}
.nav__link:hover,
.nav__link:focus {
  color: $red-line-color;
}

.nav__link--active {
  border-bottom: 3px solid $red-line-color;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.search-form {
  margin: 0 auto;
}

.search-form {
  position: relative;
  margin: 0 auto 16px;
  max-width: 336px;

  @media screen and(min-width:768px) {
    max-width: 394px;
    margin: 0 auto 20px;
  }

  @media screen and(min-width:1280px) {
    max-width: 394px;
  }
}

.search-form__input {
  width: 100%;
  padding: 0 40px 4px 0;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: $main-color;
  border: none;
  outline: none;
  border-bottom: 1px solid $main-color;
  background-color: transparent;
}

.search-form__input::placeholder {
  font-size: 14px;
  line-height: calc(16 / 14);
  color: $main-color;
}

.search-form__button {
  position: absolute;
  right: -14px;
  bottom: -10px;

  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0;

  text-align: center;
  vertical-align: middle;

  background-color: transparent;
  border: none;

  cursor: pointer;
}
.search-form__icon {
  display: block;
  margin: 0 auto;
}

.message {
  display: block;
  max-width: 336px;
  margin: 0 auto;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: $red-line-color;
  text-align: left;

  @media screen and(min-width:768px) {
    max-width: none;
    text-align: center;
  }
}

// LOADER

.loader-container {
  transform: translateY(-29px);
  max-width: 336px;
  margin: 0 auto;

  @media screen and(min-width:768px) {
    transform: translateY(-30px);
    max-width: 394px;
  }
}
.loader {
  width: 0;
  height: 4.8px;
  display: inline-block;
  position: relative;

  background: #ff8000;
  box-shadow: 0 0 10px rgba(255, 196, 0, 0.9);
  box-sizing: border-box;
  animation: animFw 700ms linear infinite;

  @media screen and(min-width:1280px) {
    animation: animFw 700ms linear infinite;
  }
}
.loader::after,
.loader::before {
  content: '';
  width: 10px;
  height: 1px;
  background: #ff8000;
  position: absolute;
  top: 9px;
  right: -2px;
  opacity: 0;
  transform: rotate(-45deg) translateX(0px);
  box-sizing: border-box;
  animation: coli1 0.1s linear infinite;
}
.loader::before {
  top: -4px;
  transform: rotate(45deg);
  animation: coli2 0.1s linear infinite;
}

@keyframes animFw {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes coli1 {
  0% {
    transform: rotate(-45deg) translateX(0px);
    opacity: 0.7;
  }
  100% {
    transform: rotate(-45deg) translateX(-45px);
    opacity: 0;
  }
}

@keyframes coli2 {
  0% {
    transform: rotate(45deg) translateX(0px);
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translateX(-45px);
    opacity: 0.7;
  }
}

// SECOND LOADER

.loader2 {
  outline: 3px green;
  margin: 0 auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: fixed;
  z-index: 10000;
  top: 30vh;
  left: 50%;
  // top: 50vh;
  // left: 50vw;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ff0000,
      1.8em -1.8em 0 0em rgba(255, 0, 0, 0.2),
      2.5em 0em 0 0em rgba(255, 0, 0, 0.2),
      1.75em 1.75em 0 0em rgba(255, 0, 0, 0.2),
      0em 2.5em 0 0em rgba(255, 0, 0, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 0, 0, 0.2),
      -2.6em 0em 0 0em rgba(255, 0, 0, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 0, 0, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 0, 0, 0.7),
      1.8em -1.8em 0 0em #ff0000, 2.5em 0em 0 0em rgba(255, 0, 0, 0.2),
      1.75em 1.75em 0 0em rgba(255, 0, 0, 0.2),
      0em 2.5em 0 0em rgba(255, 0, 0, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 0, 0, 0.2),
      -2.6em 0em 0 0em rgba(255, 0, 0, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 0, 0, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 0, 0, 0.5),
      1.8em -1.8em 0 0em rgba(255, 0, 0, 0.7), 2.5em 0em 0 0em #ff0000,
      1.75em 1.75em 0 0em rgba(255, 0, 0, 0.2),
      0em 2.5em 0 0em rgba(255, 0, 0, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 0, 0, 0.2),
      -2.6em 0em 0 0em rgba(255, 0, 0, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 0, 0, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 0, 0, 0.2),
      1.8em -1.8em 0 0em rgba(255, 0, 0, 0.5),
      2.5em 0em 0 0em rgba(255, 0, 0, 0.7), 1.75em 1.75em 0 0em #ff0000,
      0em 2.5em 0 0em rgba(255, 0, 0, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 0, 0, 0.2),
      -2.6em 0em 0 0em rgba(255, 0, 0, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 0, 0, 0.2),
      1.8em -1.8em 0 0em rgba(255, 0, 0, 0.2),
      2.5em 0em 0 0em rgba(255, 0, 0, 0.5),
      1.75em 1.75em 0 0em rgba(255, 0, 0, 0.7), 0em 2.5em 0 0em #ff0000,
      -1.8em 1.8em 0 0em rgba(255, 0, 0, 0.2),
      -2.6em 0em 0 0em rgba(255, 0, 0, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 0, 0, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 0, 0, 0.2),
      1.8em -1.8em 0 0em rgba(255, 0, 0, 0.2),
      2.5em 0em 0 0em rgba(255, 0, 0, 0.2),
      1.75em 1.75em 0 0em rgba(255, 0, 0, 0.5),
      0em 2.5em 0 0em rgba(255, 0, 0, 0.7), -1.8em 1.8em 0 0em #ff0000,
      -2.6em 0em 0 0em rgba(255, 0, 0, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 0, 0, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 0, 0, 0.2),
      1.8em -1.8em 0 0em rgba(255, 0, 0, 0.2),
      2.5em 0em 0 0em rgba(255, 0, 0, 0.2),
      1.75em 1.75em 0 0em rgba(255, 0, 0, 0.2),
      0em 2.5em 0 0em rgba(255, 0, 0, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 0, 0, 0.7), -2.6em 0em 0 0em #ff0000,
      -1.8em -1.8em 0 0em rgba(255, 0, 0, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 0, 0, 0.2),
      1.8em -1.8em 0 0em rgba(255, 0, 0, 0.2),
      2.5em 0em 0 0em rgba(255, 0, 0, 0.2),
      1.75em 1.75em 0 0em rgba(255, 0, 0, 0.2),
      0em 2.5em 0 0em rgba(255, 0, 0, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 0, 0, 0.5),
      -2.6em 0em 0 0em rgba(255, 0, 0, 0.7), -1.8em -1.8em 0 0em #ff0000;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ff0000,
      1.8em -1.8em 0 0em rgba(255, 0, 0, 0.2),
      2.5em 0em 0 0em rgba(255, 0, 0, 0.2),
      1.75em 1.75em 0 0em rgba(255, 0, 0, 0.2),
      0em 2.5em 0 0em rgba(255, 0, 0, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 0, 0, 0.2),
      -2.6em 0em 0 0em rgba(255, 0, 0, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 0, 0, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 0, 0, 0.7),
      1.8em -1.8em 0 0em #ff0000, 2.5em 0em 0 0em rgba(255, 0, 0, 0.2),
      1.75em 1.75em 0 0em rgba(255, 0, 0, 0.2),
      0em 2.5em 0 0em rgba(255, 0, 0, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 0, 0, 0.2),
      -2.6em 0em 0 0em rgba(255, 0, 0, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 0, 0, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 0, 0, 0.5),
      1.8em -1.8em 0 0em rgba(255, 0, 0, 0.7), 2.5em 0em 0 0em #ff0000,
      1.75em 1.75em 0 0em rgba(255, 0, 0, 0.2),
      0em 2.5em 0 0em rgba(255, 0, 0, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 0, 0, 0.2),
      -2.6em 0em 0 0em rgba(255, 0, 0, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 0, 0, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 0, 0, 0.2),
      1.8em -1.8em 0 0em rgba(255, 0, 0, 0.5),
      2.5em 0em 0 0em rgba(255, 0, 0, 0.7), 1.75em 1.75em 0 0em #ff0000,
      0em 2.5em 0 0em rgba(255, 0, 0, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 0, 0, 0.2),
      -2.6em 0em 0 0em rgba(255, 0, 0, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 0, 0, 0.2),
      1.8em -1.8em 0 0em rgba(255, 0, 0, 0.2),
      2.5em 0em 0 0em rgba(255, 0, 0, 0.5),
      1.75em 1.75em 0 0em rgba(255, 0, 0, 0.7), 0em 2.5em 0 0em #ff0000,
      -1.8em 1.8em 0 0em rgba(255, 0, 0, 0.2),
      -2.6em 0em 0 0em rgba(255, 0, 0, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 0, 0, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 0, 0, 0.2),
      1.8em -1.8em 0 0em rgba(255, 0, 0, 0.2),
      2.5em 0em 0 0em rgba(255, 0, 0, 0.2),
      1.75em 1.75em 0 0em rgba(255, 0, 0, 0.5),
      0em 2.5em 0 0em rgba(255, 0, 0, 0.7), -1.8em 1.8em 0 0em #ff0000,
      -2.6em 0em 0 0em rgba(255, 0, 0, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 0, 0, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 0, 0, 0.2),
      1.8em -1.8em 0 0em rgba(255, 0, 0, 0.2),
      2.5em 0em 0 0em rgba(255, 0, 0, 0.2),
      1.75em 1.75em 0 0em rgba(255, 0, 0, 0.2),
      0em 2.5em 0 0em rgba(255, 0, 0, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 0, 0, 0.7), -2.6em 0em 0 0em #ff0000,
      -1.8em -1.8em 0 0em rgba(255, 0, 0, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 0, 0, 0.2),
      1.8em -1.8em 0 0em rgba(255, 0, 0, 0.2),
      2.5em 0em 0 0em rgba(255, 0, 0, 0.2),
      1.75em 1.75em 0 0em rgba(255, 0, 0, 0.2),
      0em 2.5em 0 0em rgba(255, 0, 0, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 0, 0, 0.5),
      -2.6em 0em 0 0em rgba(255, 0, 0, 0.7), -1.8em -1.8em 0 0em #ff0000;
  }
}
