.main {
  flex: 1 1 auto;
  margin-top: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.movie-markup {
  display: flex;
  row-gap: 20px;
  justify-content: center;
  flex-flow: wrap;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
    gap: 32px;
  }
  @media screen and (min-width: 1280px) {
    gap: 32px 15px;
  }
}

.card__img {
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #444;

  width: 280px;
  height: 398px;

  @media screen and (min-width: 768px) {
    width: 336px;
    height: 455px;
  }
  @media screen and (min-width: 1280px) {
    width: 394px;
    height: 574px;
  }
}

.card__title {
  font-family: $main-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;

  max-width: 300px;

  margin-bottom: 3px;

  text-transform: uppercase;
  color: $secondary-color;

  @media screen and (min-width: 1280px) {
    max-width: 394px;

    font-size: 20px;
    line-height: 24px;
  }
}
.card__container {
  display: flex;
  align-items: center;
  gap: 6px;
}
.card__genres {
  position: relative;

  font-family: $main-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;

  color: $active-color;

  max-width: 280px;

  padding-right: 6px;
  border-right: 2px solid $active-color;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 24px;
    padding-right: 10px;
  }
}

.movie-markup__message {
  display: inline-block;
  margin: 50px auto;
  text-align: center;
  color: rgb(206, 105, 105);
  font-size: 40;
  font-weight: 900;
}

.card__year {
  font-family: $main-font;
  font-size: 12px;
  line-height: 16px;

  font-weight: 500;
  text-transform: uppercase;
  color: $active-color;

  // padding-left: 6px;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 24px;

    padding-left: 10px;
  }
}

// =======Стилі для кнопки-якоря============

.btn-up {
  position: fixed;
  background-color: #ff6b01;
  right: 20px;
  bottom: 20px;
  border-radius: 22px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  width: 44px;
  height: 44px;
}

.btn-up::before {
  content: '';
  text-align: center;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

.btn-up_hiding {
  opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #ff001b;
    /* цвет заднего фона при наведении */
  }
}
