.main {
  flex: 1 1 auto;

  @media screen and(min-width:480px) {
    padding-top: 20px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
}

.movie-markup {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.card__img {
  border-radius: 10px;
  box-shadow: 0 0 10px #444;

  @media screen and(min-width:480px) {
    width: 280px;
    height: 398px;
  }
  @media screen and (min-width: 768px) {
    width: 336px;
    height: 455px;
  }
  @media screen and (min-width: 1280px) {
    width: 394px;
    height: 574px;
  }
}

.card__name {
  font-family: $main-font;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: $secondary-color;
}

.card__genre {
  font-family: $main-font;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: $active-color;
}

.card__date {
  font-family: $main-font;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: $active-color;
}

.card__content {
  display: flex;
}
.movie__link {
    color: $secondary-color;
}
