.main {
    flex: 1 1 auto;
    margin-top: 20px;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

.movie-markup {
    display: flex;
    row-gap: 20px;
    justify-content: center;
    flex-flow: wrap;

    @media screen and (min-width: 768px) {
        justify-content: flex-start;
        gap: 32px;
    }
    @media screen and (min-width: 1280px) {
        gap: 32px 15px;
    }
}

.card__img {
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #444;

    width: 280px;
    height: 398px;

    @media screen and (min-width: 768px) {
        width: 336px;
        height: 455px;
    }
    @media screen and (min-width: 1280px) {
        width: 394px;
        height: 574px;
    }
}

.card__title {
    font-family: $main-font;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;

    max-width: 300px;

    margin-bottom: 3px;

    text-transform: uppercase;
    color: $secondary-color;

    @media screen and (min-width: 1280px) {
        max-width: 394px;

        font-size: 20px;
        line-height: 24px;
    }
}
.card__container {
    display: flex;
    align-items: center;
}
.card__genres {
    position: relative;

    font-family: $main-font;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;

    color: $active-color;

    max-width: 280px;

    @media screen and (min-width: 1280px) {
        font-size: 20px;
        line-height: 24px;
    }

    &::after {
        content: "";
        position: absolute;
        top: 1px;
        right: -6px;

        width: 2px;
        height: 90%;

        background-color: $active-color;

        @media screen and (min-width: 1280px) {
            right: -8px;
        }
    }
}

.card__year {
    font-family: $main-font;
    font-size: 12px;
    line-height: 16px;

    font-weight: 500;
    text-transform: uppercase;
    color: $active-color;

    padding-left: 10px;

    @media screen and (min-width: 1280px) {
        font-size: 20px;
        line-height: 24px;

        padding-left: 14px;
    }
}
