<header class="header">
  <!-- container -->
  <div class="container">
    <!-- header-wrapp -->
    <div class="header__wrapp">
      <!-- header logo -->
      <div class="header__logo-wrapp">
        <a class="header__link" href="./index.html">
          <img
            class="header__logo"
            src="./images/home/logo.png"
            alt="Filmoteka"
          />
          Filmoteka
        </a>
      </div>
      <!-- Navigation -->
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="./index.html">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="./library.html">my library</a>
          </li>
        </ul>
      </nav>
    </div>

    <form class="search-form" id="search-form">
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button type="submit">img</button>
    </form>
  </div>
</header>
