<main class="main">
  <div class="container">
    <h1 class="visually-hidden">Search movies</h1>
    <ul class="movie-markup js__card">
      <!-- <li class="card__item">
        <div class="card__thumb">
          <img
            class="card__img"
            src="/src/images/home/rectangle5.jpg"
            alt="poster"
          />
          <h2 class="card__name">GREYHOUND</h2>
          <div class="card__content">
            <p class="card__genre">Drama, Action<span> |&nbsp;</span></p>
            <p class="card__date">2020</p>
          </div>
        </div>
      </li> -->
    </ul>
  </div>
  <div id="tui-pagination-container" class="tui-pagination"></div>
</main>
